{#
router bgp 45000
 router-id 172.17.1.99
 bgp log-neighbor-changes
 neighbor 192.168.1.2 remote-as 40000
 neighbor 192.168.3.2 remote-as 50000
 address-family ipv4 unicast
  neighbor 192.168.1.2 activate
  network 172.17.1.0 mask 255.255.255.0
 address-family ipv4 multicast
  neighbor 192.168.3.2 activate
  neighbor 192.168.3.2 advertisement-interval 25
  network 172.16.1.0 mask 255.255.255.0
 address-family ipv4 vrf vpn1
  neighbor 192.168.3.2 activate
  network 172.21.1.0 mask 255.255.255.0
#}

router bgp {{ bgp_nxos_global_config.as_number }}
 bgp log-neighbor-changes
{% for neighbor in bgp_nxos_global_config.neighbors %}
 neighbor {{ neighbor.neighbor_address }} remote-as {{ neighbor.remote_as }}
{% endfor %}
{% for neighbor in bgp_nxos_global_config.neighbors %}
 address-family ipv4 vrf {{ neighbor.neighbor_address }}
  neighbor {{ neighbor.neighbor_address }} remote-as {{ neighbor.remote_as }}
  neighbor {{ neighbor.neighbor_address }} activate
  network {{ bgp_nxos_global_config.network }} mask {{ bgp_nxos_global_config.netmask}}
{% endfor %}

